In [46]:
li=[11, 1, 2, 3, 10]
num=21

In [47]:
def check_sum(li, num):
    x = []
    for i in li:
        for j in li:
            x.append(i+j)
            
    print('xxxxxxx',x)
    if num in x:
        return True
    else:
        return False

In [48]:
check_sum(li, num)

xxxxxxx [22, 12, 13, 14, 21, 12, 2, 3, 4, 11, 13, 3, 4, 5, 12, 14, 4, 5, 6, 13, 21, 11, 12, 13, 20]

True

In [49]:
def fun(li, num):
    for i in li:
        if num-i in li:
            return True
        else:
            return False

In [50]:
fun(li, num)

True

In [60]:
def replace_latest_slice(query=None):
    import re
    return re.sub('latest_slice::', '(SELECT * FROM sale_order WHERE ds = "LATEST")', query)

In [61]:
replace_latest_slice(query="""SELECT * FROM latest_slice::sale_order so INNER JOIN latest_slice::res_partner rp ON so.id = rp.id""")

'SELECT * FROM (SELECT * FROM sale_order WHERE ds = "LATEST")sale_order so INNER JOIN (SELECT * FROM sale_order WHERE ds = "LATEST")res_partner rp ON so.id = rp.id'

In [62]:
query="""SELECT * FROM latest_slice::sale_order so INNER JOIN latest_slice::res_partner rp ON so.id = rp.id"""

In [63]:
query

'SELECT * FROM latest_slice::sale_order so INNER JOIN latest_slice::res_partner rp ON so.id = rp.id'

In [66]:
query.split('::', )

['SELECT * FROM latest_slice',
 'sale_order so INNER JOIN latest_slice',
 'res_partner rp ON so.id = rp.id']

In [71]:
from datetime import *
import re

In [74]:
def find_date_from_text(texts: list) -> list:
    dateCandidates = []
    for text in texts:
        pattern = re.compile(r'\d{1,2}([\-\/\._\W]+)\d{1,2}([\-\/\._\W]+)\d{4}')
        dateCandidates += find_date_using_pattern(pattern, text)
    return dateCandidates

In [99]:
def find_date_using_pattern(pattern, text):
    dateCandidates = []
    for match in pattern.finditer(text):
        cleaned = re.sub(r'[^0-9]', ' ', match.group())
        d, m, y = cleaned.split()        
        dateCandidates.append(datetime(int(y), int(m), int(d), 0, 0, 0).date())
    return dateCandidates

In [101]:
find_date_from_text(['Had a friend open up to me about his mental addiction to weed and  23/02/1992', 'ow it was taking over 19-01-2001 his life and making him depressed'])

[datetime.date(1992, 2, 23), datetime.date(2001, 1, 19)]